@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "UTM Alberta Heavy";
  src: url("../font/UTM-Alberta-Heavy.woff");
}
@font-face {
  font-family: "UTM Alter Gothic";
  src: url("../font/UTM-Alter-Gothic.woff");
}

/* CUSTOMIZED LOADING ANIMATION */

.loader{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  display:flex;
  justify-content: center;
  align-items: center;
z-index:10000;
}

.loader img{
  display: inline-block;
  width: 30%;
  position: relative;
  animation: loader 0.35 infinite ease;
}


/* CUSTOMIZED SCROLLBAR */
		/* width */
		::-webkit-scrollbar {
		  width: 5px;
		}
		/* Track */
		::-webkit-scrollbar-track {
		  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
		  border-radius: 5px;
		}
		/* Handle */
		::-webkit-scrollbar-thumb {
		  background: #e6a537;
		  box-shadow: none;
		  border-radius: 5px;
		}
		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		  background: #f0d25a; 
		}
		
/* INTERFACE */
*{
	padding: 0;
	margin: 0;
	background-color: #f9f9f9;
	scroll-behavior: smooth;
	font-family: Verdana, sans-serif;
	box-sizing: border-box;
	color:#555;
}




/* TEXT ANTI-ALIASLING*/
body{
	-webkit-font-smoothing: anti-aliased;
	font-smoothing: anti-aliased;
}


/*
MEDIA SCREEN CONTROL ------------ ------------ ------------ ------------ ------------ ------------
*/
@media only screen and (min-width: 768px){
	*{ font-size: 11pt;
	}
}

@media only screen and (min-width: 360px) and (max-width: 767px) {

	*{ font-size: 12pt;
	}
	.col-even{
		top: 0!important;
	}
	item {
		width: 75vh!important;
		height: 25vh!important;
	}
	.drnkbtn{
		font-size: 60%!important;
	}
}


/*
FIXED NAVIGATION ------------ ------------ ------------ ------------ ------------ ------------
*/


#fixed-navigation{
	padding-top:25vh;
	display:none;
	height: 8vh;
	width: 100%;
	position: fixed;
	background:#f9f9f9;
	z-index: 2000;
	padding:0;
	margin:0;
	justify-content:center;
	align-items:center;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.02);

	animation: fixedmenufadeIn 0.35s ease forwards;
}

@keyframes fixedmenufadeIn {
	from {
		opacity: 0;
		pointer-events: none;
	}
	to {
		opacity: 1;
		pointer-events: all;
	}
}

.fixed-brand{
	width: 23vh;
	height: 100%;
	background:transparent;
	display: flex;
	align-items:center;
}
.fixed-brand img{
	max-height: 60%;
	background:transparent;
	pointer-events:none;
}
.fixed-menu{
	width: 20vh;
	height: 100%;
	background:transparent;
	display: flex;
	justify-content:center;
	align-items:center;
}
.fixed-menu a{
	text-align:center;
	line-height: 8vh;
	width:100%;
	height: 100%;
	background: transparent;
	color: #888;
	font-size:1rem;
	font-family: UTM Alter Gothic;
	letter-spacing:0.1rem;
}
.fixed-menu a:hover{
	color:white!important;
	background:#f0d25a;
	text-decoration:none;
}
.fixed-cta{
	width: 47vh;
	height: 100%;
	background:transparent;
	display:flex;
	align-items:center;
	justify-content:flex-end;
}

button[name=cta]{
	color: white;
	width: 10vh;
	height: 5vh;
	font-family: UTM Alter Gothic;
	font-size: 1rem;
	letter-spacing: 0.06rem;
	background: #f0d25a;
	border: solid 1px white;
	border-radius: 0.3rem;
}
button[name=cta]:hover{

	color: #e6a537;
	text-shadow:	2px 2px #e8e8e8,
			-2px -2px #ffffff;
	background: transparent;
	border: solid 1px #e6a537;
	box-shadow: 	3px 3px 4px #e8e8e8,
			-3px -3px 4px #ffffff,
			inset 2px 2px 2px #e8e8e8,
			inset -2px -2px 2px #ffffff;
}
.cart-number{
	color:white!important;
}




.sticky{
	display:flex!important;
}

.secBGchange{
	border-bottom: solid 3px #f0d25a!important;
}
.secAchange{
	color: #e6a537!important;
}

/*
NAVIGATION ROW ------------ ------------ ------------ ------------ ------------ ------------
*/

#navigation{
	height: 25vh;
	display:flex;
	align-content: center;
	align-items:center;
	z-index: 10000;
}
.menu{
	height: 100%;
	display: flex;
	align-content: center;
	align-items: center;
}

.menu-placement{
	height:85%;
	width:100%;
	display:flex;
}

.menu-item {
	margin: auto;
	width: 19.5%;
	height: 100%;
	display:flex;
	align-content: center;
	align-items: center;
	text-align: center;
	background:transparent;
}

.menu-item a{
	font-family: UTM Alter Gothic;
	font-size: 1 rem;
	color: #e6af4b;
	letter-spacing: 0.1vw;
	display:block;
	margin:auto;
	width:100%;
	padding-top: 18%;
	padding-bottom: 20%;
	margin-bottom:0;
}

.menu-item a:hover{
	color: white;
	text-decoration: none;
	background: #f0d25a;
}

.logo-holder {
	background:#f9f9f9;
	width:20vh;
	height: 25vh;
	border-radius: 0 0 1vw 1vw;
	box-shadow: 5px 5px 6px #f2f2f2,
			-5px -5px 6px #ffffff,
		inset 1px 1px 1px #ffffff,
		inset -1px -1px 1px #f2f2f2;
	margin:auto;
	position:relative;
	display: inline-block;
  	overflow: hidden;
  	margin: 0;
}

.logo-holder img{
	pointer-events:none;
  	display: block;
  	position: absolute;
  	top: 50%;
  	left: 50%;
	width: 75%;
  	height: auto;
  	transform: translate(-50%, -50%);
}

/*
 ------------ ------------ ------------ ------------ ------------ ------------ RIGHTBAR AND SEARCH
*/
.rightbar{
	height:100%;
	display:flex;
	align-content:center;
	align-items:center;
}
.rightbar-placement{
	height:85%;
	width:100%;
	background:transparent;
	display:flex;
	align-content:center;
	align-items:flex-end;
}

.searchform{
	background:#f9f9f9;
	width:100%;
	height: 30%;
	border: solid 1px #e6af4b;
	border-radius:3vh;
	box-shadow: 3px 3px 4px #e8e8e8,
			-3px -3px 4px #ffffff;
	overflow:hidden;
	display:flex;
	align-items:center;
	align-content:center;
}
.searchform form{
	height: 100%;
	width: 100%;
	padding:0;
	margin:0;
	display:flex;
	align-items:center;
	align-content:center;
}
.searchform form input{
	width:88%;
	height:100%;
	font-size: 0.65rem;
	border-radius:6vh 6vh 0 0; /* 35% x 80% x 25vh of row navigation */
	border:none;
}
.searchform form>input[type=text] {
	height:100%;
	border:none;
	padding: 5%;
	margin:0;
	align-self: center;
	font-style: italic;
	font-family: UTM Alter Gothic;
	font-size: 0.9rem;
	letter-spacing: 0.08vw;
}
#search-button-holder{
	height:3.7vh;
	width:3.7vh;
	display:flex;
	align-content:center;
	border-radius:50%;
	background: #f9f9f9;
	box-shadow:		inset 4px 4px 4px #f3f3f3,
            		inset -4px -4px 4px #ffffff;
	position:absolute;
	right:2vw;
}
.searchform form button{
	background: transparent;
	border:none;
	border-radius: 0 3vh 3vh 0;
	margin: auto;
}
.searchform form button i{
	display:inline-block;
	background: transparent;
	color: #e6a537;
	border-radius:4vh;
	font-size:2vh;
}
*:focus {
    outline: none;
}
textarea:focus, input:focus {
    	color: #e6a537;
	font-style:normal;
}

/* CHANGE PLACEHOLDER TEXT COLOR */
::placeholder { color: #888; opacity: 1; }	/* Firefox */
:-ms-input-placeholder { color: #ede7ad; }	/* Internet Explorer 10-11 */
::-ms-input-placeholder { color: #ede7ad; }	/* Microsoft Edge */



/*
 ------------ ------------ ------------ ------------ ------------ ------------ SHOWDOWN PARALLAX
*/
#sh{
	margin-top: 1vh;
	height: 75vh;
	background:transparent;
	overflow:hidden;
	display:flex;
	align-content:flex-start;
	align-items:center;
	justify-content:center;
	position:relative;
}
#sh img{
	top:15vh;
	display:block;
	max-width:100%;
	background:transparent;
	position:absolute;
	margin: 0 auto;
	padding:0;
}
#parallax-1{
	z-index:108;
}
#parallax-2{
	z-index:107;
}
#parallax-3{
	z-index:106;
}
#parallax-4{
	z-index:105;
}
#parallax-5{
	z-index:104;
}
#parallax-6{
	z-index:103;
}
#parallax-7{
	z-index:102;
}
#parallax-8{
	z-index:101;
}

#parallax-shadow1{
	z-index:100;
}
#parallax-shadow2{
	z-index:99;
}
#parallax-shadow3{
	z-index:98;
}
#parallax-shadow4{
	z-index:97;
}
#parallax-shadow5{
	z-index:96;
}
#parallax-shadow6{
	z-index:95;
}
#parallax-shadow7{
	z-index:94;
}


/*
 ------------ ------------ ------------ ------------ PUNCH LINE
*/

#punch-line{
	width: 80%;
	top:15vh;
	left: 23vh;
	display:flex;
	align-content:flex-end;
	align-items:flex-end;
	justify-content:flex-start;
	position:absolute;
	z-index: 1000;
	width: 100%;
	height:55vh;
	background:transparent;
	position:relative;
}
#punch-title{
	background:transparent;
	color: white;
	font-family: UTM Alberta Heavy;
	font-size: 5rem;
	position:absolute;
	bottom:8vh;
}
#punch-title span{
	background:transparent;
	color: #f0d25a;
	font-family: UTM Alberta Heavy;
	font-size: 5rem;
}
#punch-text{
	background: transparent;
	color: #b38029;
	font-family: UTM Alter Gothic;
	font-size: 1.2rem;
	letter-spacing: 0.06rem;
	position:absolute;
	bottom:5vh;
	text-fill-color:  #5E838C;
	text-shadow: 0px -1px #f9f9f9;
}
#punch-line button{
	color: white;
	width:22vh;
	height: 6vh;
	font-family: UTM Alter Gothic;
	font-size: 1.2rem;
	letter-spacing: 0.06rem;
	background-image:linear-gradient(to right, #e6a537, #e69137);
	border: solid 1px white;
	border-radius: 0.3rem;
}
#punch-line button:hover{

	color: #e6a537;
	text-shadow:	2px 2px #e8e8e8,
			-2px -2px #ffffff;
	background: transparent;
	border: solid 1px #e6a537;
	box-shadow: 	3px 3px 4px #e8e8e8,
			-3px -3px 4px #ffffff,
			inset 2px 2px 2px #e8e8e8,
			inset -2px -2px 2px #ffffff;
}






/*
 ------------ ------------ ------------ ------------ SVG
*/



svg{
  	width  : 30.8rem;
  	height : 6rem;
	overflow: visible;
	background: transparent;
	position:absolute;
	left:0.2rem;
	bottom:10.5vh;
}

text{
	margin-bottom:0;
	font-family: UTM Alberta Heavy;
	font-size: 5rem;
	background	: transparent;
  	fill            : none;
  	stroke          : #e6a537;
  	stroke-width    : 1px;
  	stroke-linejoin : round;
}












/*
------------ ------------ ------------ ------------ ------------ ------------ SECTION 1 
*/
#sec1{
	padding-top: 2vh;
	padding-bottom: 10vh;
}
.section-name{
	width:100%;
	height: 6vh;
	background:#f9f9f9;
	border: solid 1px #e6af4b;
	border-radius:3vh;
	box-shadow: 3px 3px 4px #e8e8e8,
			-3px -3px 4px #ffffff,
			inset 2px 2px 2px #e8e8e8,
            		inset -2px -2px 2px #ffffff;
	display: flex;
	align-content: center;
	align-items: center;
}
.section-name p{
	font-family: UTM Alter Gothic;
	font-size: 1rem;
	letter-spacing: 0.25rem;
	color: #e6a537;
	background:transparent;
	text-align:center;
	width: 100%;
	display:block;
	margin:auto;
}
/*
 ---------------------------------------------------- CONTROL THE SHIFT OF COLUMNS
*/
.col-even { top: 5vh; }



/*
  ----------------------------------------------------------- SECTION 1 ----- ITEM
*/
.item{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 60vh;
}
.flip-card {
	background-color: transparent;
  	width: 100%;
  	height: 100%;
  	perspective: 1000px;
}
.flip-card-inner {
  	position: relative;
  	width: 100%;
  	height: 100%;
  	transition: transform 0.6s;
  	transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  	transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
}
.flip-card-front {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 3vh;
	box-shadow:  5px 5px 4px #f2f2f2,
         	    -5px -5px 4px #ffffff;
	display:flex;
	align-items: center;
	justify-content:center;
	background-color:#f9f9f9;
}
.thumbnail{
	display:block;
	width:90%;
	height: 95%;
	border-radius: 1vh;
	overflow: hidden;
	line-height:57vh;
}
.thumbnail img{
	width:100%;
	height:auto;
	border-radius: 1vh;
}
.flip-card-back {
  	background-color: #f9f9f9;
  	color: #555;
  	transform: rotateY(180deg);
	overflow: hidden;
	border-radius: 3vh;
	background: #f9f9f9;
	box-shadow: 	inset 3px 3px 5px #f2f2f2,
         	    	inset -3px -3px 5px #ffffff;
}
.item-content{
	padding: 10%;
	height:100%;
	background:transparent;
	position:relative;
}
h3{
	width:80%;
	font-family: UTM Alberta Heavy;
	text-transform: uppercase;
	font-size: 2.5rem;
	letter-spacing: 0.1rem;
	color: #f0d25a;
	background:transparent;
	top: 7vh;
	position:absolute;
	z-index: 3;
}
h4{
	width: 100%;
	font-family: UTM Alter Gothic;
	font-size: 1rem!important;
	letter-spacing:0.05rem!important;
	color:white;
	background: #e6a537;
	line-height:6vh!important;
	top: 15vh;
	left: 0;
	padding-left:10%;
	position:absolute;
}
.item-content p{
	width: 80%;
	padding: 10% 0;
	font-size:0.85rem;
	letter-spacing: 0.02rem;
	top: 23vh;
	position:absolute;
	background:transparent;
}
.item-more{
	background:transparent;
	bottom: 3vh;
	position:absolute;
	left: 50%;
	transform: translate(-50%,0);
}

/*
 ------------ ------------ ------------ ------------ ------------ -------SECTION 2-----
*/
#sec2{
	margin-top: 10vh;
	padding-top: 10vh;
	padding-bottom: 6vh;
}


/*
----------- ------------ ------------ ------------ ------------ ------------SECTION 3 -
*/
#sec3{
	margin-top: 10vh;
	padding-top: 10vh;
	padding-bottom: 6vh;
}


#drink-carousel {
	background:transparent;
	width: 100%;
	height: 80vh;
	display:flex;
	margin-bottom: 10vh;
	padding-bottom: 0vh;
	position:relative;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align:center;
}
#drink-list {
	width: 30%;
	height:90%;
	background:inherit;
}
.drink-item {
	width: 100%;
	height: 10%;
	display:block;
	position:relative;
	background:inherit;
}
.drink-item button{
	width: 95%;
	height:80%;
	color: #555;
	font-family: UTM Alter Gothic;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	position:absolute;
	top: 0;
	right: 0;
	border: none;
	border-radius: 3vh;
	box-shadow: 	3px 3px 4px #f2f2f2,
			-3px -3px 4px #ffffff;
	background:inherit;
	transition: ease-in-out, width .35s ease-in-out;
}
.drink-item:hover{
	background:transparent;
}
.drink-item:hover>button{
	width: 100%;
	color: #e6a537;
	border-right: solid 1px #f0d25a;
	border-radius: 3vh 0 0 3vh;
	box-shadow: 	inset 3px 3px 4px #f2f2f2,
			inset -3px -3px 4px #ffffff;
}
.drink-thumbnail {
	width:50%;
	height: 90%;
	background:transparent;
	position:relative;
	overflow:hidden;
}
.dr-thumb{
	top: 50%;
	left: 50%;
	transform: translate(200%,-50%);
	height: 99%;
	padding:1%;
	position: absolute;
	border-radius: 3vh;
	box-shadow: 2px 2px 4px #f2f2f2,
			-2px -2px 4px #ffffff;
	transition: all 0.2s ease-in-out;
}



.drnkbtn-active{
	width: 100%!important;
	color: #e6a537!important;
	border-right: solid 1px #f0d25a!important;
	border-radius: 3vh 0 0 3vh!important;
	box-shadow: 	inset 3px 3px 4px #f2f2f2,
			inset -3px -3px 4px #ffffff!important;
}

.dr-thumb-active {
	transform: translate(-50%,-50%);
}


/*
------------ ------------ ------------ ------------ ------------ ------------SECTION 4 
*/

.info{
	top: 10vh;
	height: 55vh;
	padding-top:6vh;
}
.info-logo{
	width:100%;
}
.info-logo img{
	display: block;
	margin: 0 auto;
	width: 60%;
	height: auto;
	pointer-events:none;
}
.info-text{
	padding-top: 10vh;
}
.info-text p{
	font-family: Verdana;
	font-size: 0.7rem;
	letter-spacing:0.05rem;
	padding-left: 10vw;
	color: #999;
}
.info-text i{
	color: #e6af4b;
	font-size: 1.2rem;
	letter-spacing: 0.8rem;
}
.info-text i:hover{
	font-size: 1.5rem;
}

.contact{
	top: 10vh;
}
.my-contact-form>input[type=text]{
	width:95%;
	height: 4vh;
	margin: 2vh auto;
	border-radius: 1vh;
	font-family: UTM Alter Gothic;
	font-size: 0.8rem;
	font-style:italic;
	letter-spacing: 0.1rem;
	border: solid 1px #e6a537;
	box-shadow: 	3px 3px 4px #e8e8e8,
			-3px -3px 4px #ffffff,
			inset 2px 2px 2px #e8e8e8,
			inset -2px -2px 2px #ffffff;
	transition: ease-in-out, width .35s ease-in-out;
}
.my-contact-form input[name=text-field]{
	width: 75%;
	height: 15vh;
}

button[name=contact-send]{
	width: 19%;
	height: 15vh;
	color: white;
	font-family: UTM Alberta Heavy;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	background: linear-gradient(145deg, #e6af4b, #e6a537);
	border: solid 2px #e6a537;
	border-radius: 1vh;
	box-shadow: 3px 3px 4px #e8e8e8,
			-3px -3px 4px #ffffff;
	transition: ease-in-out, width .35s ease-in-out;
}

button[name=contact-send]:hover{
	width: 19%;
	height: 15vh;
	color: #e6a537;
	text-shadow:	2px 2px #e8e8e8,
			-2px -2px #ffffff;
	font-family: UTM Alberta Heavy;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	background: transparent;
	border: solid 1px #e6a537;
	box-shadow: 	3px 3px 4px #e8e8e8,
			-3px -3px 4px #ffffff,
			inset 2px 2px 2px #e8e8e8,
			inset -2px -2px 2px #ffffff;
}


input[name=user-name]:focus {
    	color: #e6a537;
	font-style:normal;
	width: 100%;
}
input[name=user-contact]:focus {
    	color: #e6a537;
	font-style:normal;
	width: 100%;
}
input[name=user-address]:focus {
    	color: #e6a537;
	font-style:normal;
	width: 100%;
}
input[name=text-field]:focus{
	font-style:normal;
	width: 60%;
}
input[name=text-field]:focus + button[name=contact-send]{
	width: 34%;
}


/*
------------ ------------ ------------ ------------ ------------ ----------- -FOOTER 
*/

.footer{
	top: 15vh;
	height: 8vh;
	background: #e6a537;
}
.footer p{
	color:white;
	font-size: 0.8rem;
	font-family: UTM Alter Gothic;
	letter-spacing: 0.1rem;
	background:transparent;
	padding-left:10vw;
	position: absolute;
	line-height: 8vh;
}
.footer > a > img{
	max-height: 100%;
	background:transparent;
	display:block;
	right: 10vw;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

/*
------------ ------------ ------------ ------------ ------------ ------------ POP UP
*/
.popup{
	width: 100vw;
	height: 100vh;
	background:rgba(249,249,249,0.98);
	z-index:11000;
	position:fixed;
	display:none;
	justify-content:center;
	align-items:center;
}
.popup-pop{
	display:flex!important;
}
.popup-item{
	width: 60%;
	height: 70%;
	background:#f9f9f9;
	position:relative;
	box-shadow: 5px 5px 8px #f2f2f2,
		-5px -5px 8px #ffffff;
	border-radius: 4vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
button[name=popup-close]{
	width: 10vh;
	height: 10vh;
	border-radius:50%;
	font-family: UTM Alberta Heavy;
	font-size: 2rem;
	color: #ddd;
	background-image: linear-gradient(135deg,#fcfcfc,#f9f9f9);
	border:none;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.05),
		-3px -3px 6px #ffffff;
	top:0;
	right:0;
	position:absolute;
	z-index:100000;
}
button[name=popup-close]:onlick > .popup{
	display:none;
}
button[name=popup-close]:hover{
	background:#fcfcfc;
	border: solid 1px #e6a537;
	color: #e6a537;
	box-shadow: inset -2px -2px 2px #ffffff,
		inset 2px 2px 2px #f2f2f2;
}
button:focus {
	outline: none!important;
}
.popup-thumb{
	height: 92%;
	width: 40%;
	background:transparent;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
}
.popup-thumb img{
	display:block;
	max-width: 90%;
	height: auto;
}
.popup-content{
	width: 60%;
	height: 100%;
	background:transparent;
	padding: 2vh;
	border-radius: 4vh;
	position:relative;
}
.popup-content p{
	display:block;
}
.popup-title{
	font-family: UTM Alberta Heavy;
	font-size: 2.5rem;
	color: #f0d25a;
	letter-spacing: 0.35rem;
	padding-left: 3vh;
	top: 3vh;
	background:transparent;
	position:absolute;
	z-index: 11001;
}
	.popup-title-2row{
		font-size: 1.5rem!important;
		top: 5vh!important;
	}
.popup-subtitle{
	font-family: UTM Alter Gothic;
	font-size: 1.2rem;
	color: white;
	background: #e6af4b;
	letter-spacing: 0.1rem;
	line-height: 3rem;
	padding-left: 3vh;
	width: 90%;
	position:absolute;
	top: 9.5vh;
	border-radius: 0 4px 4px 0;
}
.popup-description{
	position: absolute;
	top: 20vh;
	padding-left: 3vh;
	font-size: 0.85rem;
	background:transparent;
	letter-spacing: 0.02rem;
	width: 90%;
	line-height: 3vh;
}
	.price{
		font-family: UTM Alter Gothic;
		background:transparent;
		letter-spacing: 0.02rem;
		color: orange;
	}
	.popup-content span{
		margin-left: 1vh;
		font-size: 1.1rem;
		}
.popup-action{
	background:transparent;
	width: 100%;
	height: 5vh;
	top: 38vh;
	position:absolute;
	margin-left: 3vh;
}
button[name=detail-plus],
button[name=detail-minus]{
	width: 5vh;
	height: 100%;
	border-radius:5px;
	border:none;
	font-family: UTM Alter Gothic;
	font-size: 1.2rem;
	color: #999;
}
button[name=detail-plus]:hover{
	box-shadow: 	inset 2px 2px 4px #f0f0f0,
			inset -4px -4px 6px #ffffff;
	color: #e6a537;
}
button[name=detail-minus]:hover{
	box-shadow: 	inset 2px 2px 4px #f0f0f0,
			inset -4px -4px 6px #ffffff;
	color: #e6a537;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[name=idisplay] {
  -moz-appearance: textfield;
	text-align:center;
	width: 10vh;
	height: 100%;
	background:white;
	border:none;
	border-radius:5px;
	font-family: UTM Alter Gothic;
	font-size: 1rem;
	color: #999;
	letter-spacing: 0.02rem;
}
input[name=idisplay]:focus{
	color: #e6a537!important;
}

input[name=cartdisplay] {
  -moz-appearance: textfield;
	text-align:center;
	width: 10vh;
	height: 100%;
	background:white;
	border:none;
	border-radius:5px;
	font-family: UTM Alter Gothic;
	font-size: 1rem;
	color: #999;
	letter-spacing: 0.02rem;
}
input[name=cartdisplay]:focus{
	color: #e6a537!important;
}
button[name=addtocart],
button[name=cart]{
	border:none;
	box-shadow: 	2px 2px 4px #f0f0f0,
			-4px -4px 6px #ffffff;
	height: 100%;
	width: 20vh;
	font-family: UTM Alter Gothic;
	font-size: 0.9rem;
	margin-left: 10px;
	border-radius: 5px;
	letter-spacing: 0.05rem;
	color: #999;
}
button[name=addtocart]:hover{
	border:none;
	box-shadow: 	inset 2px 2px 4px #f0f0f0,
			inset -4px -4px 6px #ffffff;
	color: #e6af4b;
}
.addtocartsuccessful{
	animation: addtocartsuccess 0.35s ease-in alternate;
}
@keyframes addtocartsuccess {
	0% {
		color:#e6af4b;
		box-shadow: 	inset 2px 2px 4px #f0f0f0,
			inset -4px -4px 6px #ffffff;
	}
	100% {
		color:cyan;
		box-shadow:none;
	}
}
button[name=cart]:hover{
	border:none;
	box-shadow: 	inset 2px 2px 4px #f0f0f0,
			inset -4px -4px 6px #ffffff;
	color: #e6a537;
}
.suggestline{
	position: absolute;
	padding-left: 3vh;
	bottom:18vh;
	color: #999;
	font-size: 0.85rem;
	background:transparent;
	letter-spacing: 0.02rem;
}
.suggest-wrapper{
	height: 15vh;
	padding-left: 3vh;
	bottom:5vh;
	position:absolute;
	display:flex;
	justify-content: flex-start;
	align-items:center;
	width: 55%;
}
.suggest{
	max-width: 10vh;
	height: auto;
	border-radius: 1.5vh;
	margin-right: 2vh;
	box-shadow: 	2px 2px 4px #f3f3f3,
			-4px -4px 6px #ffffff;
}
.suggest:hover{
	border: solid 1px #f9f9f9;
	box-shadow: 	2px 2px 4px #f0f0f0,
			-4px -4px 6px #ffffff,
		inset	-2px -2px 2px #ffffff,
		inset	2px 2px 2px #f0f0f0;
	background:#fafafa;
}
.fa-shopping-cart{
	background:transparent;
	color:white;
}
button[name=cta]:hover>.fa-shopping-cart{
	color:#e6a537;
}

/*
------------ ------------ ------------ ------------ ------------ ------------ CART
*/

.popup-pop-cart{
	display:flex!important;
	z-index:12000;
}
.cart-wrapper{
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.cart-title{
	width: 100%;
	background:transparent;
	text-align:center;
	font-family: UTM Alter Gothic;
	font-size: 2rem;
	color: #999;
	letter-spacing: 0.08rem;
}
.cart-list{
	width:95%;
	height: 65%;
	background:transparent;
	overflow: auto;
}
.cart-item{
	display:none;

	height: 9vh;
	width: 95%;
	padding-right: 3vh;
	border: none;
	margin:2vh auto;
	border-radius: 0.5vh;
	box-shadow: 2px 2px 4px #f2f2f2,
		-2px -2px 4px #ffffff;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.cart-item-add{
	display:flex!important;
}
.cart-item-hidden{
	display:none;
}
.cart-item-hidden-anim{
	animation: cartItemHidden 0.35s forwards ease-in-out;
}
@keyframes cartItemHidden{
	0%{
		overflow: hidden;
		height: 9vh;
	}
	100%{
		overflow: hidden;
		height: 0vh;
		align-self: end;
	}
}
.cart-action{
	margin-top: 2vh;
	width: 100%;
	background:transparent;
	height: 8vh;
	display: flex;
	justify-content:flex-end;
	margin-right: 8vh;
}
.cart-action p{
	padding-left: 3vh;
	display:block;
	line-height: 8vh;
	background:transparent;
	pointer-events:none;
	font-family: UTM Alter Gothic;
	font-size: 1.5rem;
	letter-spacing: 0.05rem;
	color: #aaa;
}

input[name=totaldisplay] {
  -moz-appearance: textfield;
	text-align:center;
	width: 20vh;
	height: 100%;
	background:transparent;
	border:none;
	font-family: UTM Alter Gothic;
	font-size: 2rem;
	color: #e6af4b;
	letter-spacing: 0.02rem;
	pointer-events:none;
	margin-right: 5vh;
}
button[name=checkout]{
	width: 25vh;
	background:#e6af4b;
	color: white;
	font-family: UTM Alberta Heavy;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	border: solid 1px #e6a537;
	border-radius: 1vh;
	box-sizing: border-box;
}
button[name=checkout]:hover{
	color: #e6a537;
	text-shadow: 2px 2px 4px #e8e8e8,
		-2px -2px 4px #fff;
	box-shadow: 	2px 2px 4px #e8e8e8,
			-2px -2px 4px #fff,
		inset	2px 2px 4px #e8e8e8,
		inset	-2px -2px 4px #fff;
	background:transparent;
}
button[name=checkout]:focus{
}

button[name=popup-back]{
	width: 10vh;
	height: 10vh;
	border-radius:50%;
	font-family: UTM Alberta Heavy;
	font-size: 2rem;
	color: #ddd;
	background-image: linear-gradient(135deg,#fcfcfc,#f9f9f9);
	border:none;
	box-shadow: 3px 3px 6px #f2f2f2,
		-3px -3px 6px #ffffff;
	top: 0;
	left: 0;
	position:absolute;
	z-index:100000;
}
button[name=popup-back]:hover{
	background:#fcfcfc;
	border: solid 1px #e6a537;
	color: #e6a537;
	box-shadow: inset -2px -2px 2px #ffffff,
		inset 2px 2px 2px #f2f2f2;
}
button[name=cart-item-remove]{
	background:transparent;
	border:none;
	width: 5%;
	height: 100%;
	box-shadow: 3px 0px 4px #f2f2f2;
	font-family: UTM Alter Gothic;
	color: #ccc;
	font-size: 1.2rem;
	border-radius: 0.5vh;
}
button[name=cart-item-remove]:hover{
	background:red!important;
	color:white;
}
.cart-item-thumb{
	width: 15%;
	margin-left: 2vh;
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.cart-item-thumb img{
	max-height: 100%;
	width: auto;
}
.cart-item-info{
	width:30%;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	background:transparent;
}
.cart-item-info p{
	display:block;
	border:none;
	background:transparent;
	width: 100%;
	height:40%;
	line-height: 4vh!important;
	margin: 0!important;
	padding: 0!important;
}
.cart-item-title{
	background:transparent;
	font-family: UTM Alter Gothic;
	font-size: 1rem;
	letter-spacing: 0.05rem;
	color: #999;
	margin: 0!important;
	padding: 0!important;
}
.cart-item-info>.price{
	font-size: 0.8rem;
	background:blue;
}
.item-action{
	width:30%;
	height: 60%;
	top:50%;
}
button[name=cart-plus],
button[name=cart-minus]{
	width: 5vh;
	height: 100%;
	border-radius:5px;
	border:none;
	font-family: UTM Alter Gothic;
	font-size: 1.2rem;
	color: #999;
	box-shadow: 	2px 2px 4px #f0f0f0,
			-2px -2px 4px #ffffff;
}
button[name=cart-plus]:hover{
	box-shadow: 	inset 2px 2px 4px #f0f0f0,
			inset -4px -4px 6px #ffffff;
	color: #e6a537;
}
button[name=cart-minus]:hover{
	box-shadow: 	inset 2px 2px 4px #f0f0f0,
			inset -4px -4px 6px #ffffff;
	color: #e6a537;
}
.cart-subtotal{
	width: 25%;
	height:60%;
	display:flex;
	justify-content: flex-end;
	align-items: center;
}
.cart-subtotal>span{
	display:block;
	background:transparent;
	font-family: UTM Alter Gothic;
	font-size: 1.2rem;
	margin-right: 3vh!important;
	color: #999;
}
#subtotal1,
#subtotal2,
#subtotal3,
#subtotal4,
#subtotal5,
#subtotal6,
#subtotal7,
#subtotal8,
#subtotal9,
#subtotal10,
#subtotal12,
#subtotal13,
#subtotal14,
#subtotal15,
#subtotal16,
#subtotal17,
#subtotal18,
#subtotal19,
#subtotal20,
#subtotal21,
#subtotal22,
#subtotal23,
#subtotal24,
#subtotal25,
#subtotal26,
#subtotal27,
#subtotal28
{
	color:orange!important;
	pointer-events:none;
	background:transparent!important;
	box-shadow: inset 2px 2px 4px #f2f2f2,
		inset -2px -2px 4px #fff;
}


/*
------------ ------------ ------------ ------------ ------------ ------------ CHECK OUT
*/

.popup-pop-checkout{
	display:flex!important;
	z-index:13000;
}

#popup-checkout{
	position:fixed;
	display:none;
}

.my-contact-form input[name=text-field-note]{
	width: 75%;
	height: 15vh;
}

button[name=checkout-confirm]{
	width: 19%;
	height: 15vh;
	color: white;
	font-family: UTM Alberta Heavy;
	font-size: 1rem;
	letter-spacing: 0.2rem;
	background: linear-gradient(145deg, #e6af4b, #e6a537);
	border: solid 2px #e6a537;
	border-radius: 1vh;
	box-shadow: 3px 3px 4px #e8e8e8,
			-3px -3px 4px #ffffff;
	transition: ease-in-out, width .35s ease-in-out;
}

button[name=checkout-confirm]:hover{
	width: 19%;
	height: 15vh;
	color: #e6a537;
	text-shadow:	2px 2px #e8e8e8,
			-2px -2px #ffffff;
	font-family: UTM Alberta Heavy;
	font-size: 1rem;
	letter-spacing: 0.2rem;
	background: transparent;
	border: solid 1px #e6a537;
	box-shadow: 	3px 3px 4px #e8e8e8,
			-3px -3px 4px #ffffff,
			inset 2px 2px 2px #e8e8e8,
			inset -2px -2px 2px #ffffff;
}
input[name=text-field-note]:focus{
	font-style:normal;
	width: 60%;
}
input[name=text-field-note]:focus + button[name=checkout-confirm]{
	width: 34%;
}